:root {
  --clr-primary: #f2b137;
  --clr-primary-tint: #ffc860;
  --clr-accent: #31c3bd;
  --clr-accent-tint: #65e9e4;
  --clr-primary-shade: #1b4133;
  --clr-neutral-1: #fff;
  --clr-neutral-2: #000;
  --clr-grey-1: #dbe8ed;
  --clr-grey-2: #a8bfc9;
  --clr-grey-3: #1f3641;
  --clr-grey-4: #21313b;
  --clr-grey-5: #1a2a33;
  --ff-main: "Outfit";
  --fw-medium: 500;
  --fw-bold: 800;
  --fs-1: 2.5rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1rem;
  --fs-5: 0.875rem;
  --fs-6: 0.75rem;
  --lh-1: 1.25;
  --lh-2: 1.3;
  --ls-1: 0.0625em;
  --ls-2: 0.0625em;
  --ls-3: 0.0625em;
  --ls-4: 0.0625em;
  --ls-5: 0.0643em;
  --ls-6: 0.0625em;
  --sp-0: 0rem;
  --sp-1: 0.5rem;
  --sp-2: 0.75rem;
  --sp-3: 1rem;
  --sp-4: 1.25rem;
  --sp-5: 1.5rem;
  --sp-6-little: 1.75rem;
  --sp-6: 1.875rem;
  --sp-7: 2.5rem;
  --br-0: 0;
  --br-1: 0.25rem;
  --br-2: 0.375rem;
  --br-3: 0.625rem;
  --br-4: 1rem;
  --desktop-container-width: 28.75rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
}

.tp-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
  font-weight: var(--fw-bold);
}

.tp-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-2);
  font-weight: var(--fw-bold);
}

.tp-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-3);
  font-weight: var(--fw-bold);
}
@media (min-width: 48rem) {
  .tp-3 {
    font-size: var(--fs-2);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-2);
  }
}

.tp-4 {
  font-size: var(--fs-4);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-4);
  font-weight: var(--fw-bold);
}

.tp-5 {
  font-size: var(--fs-5);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-5);
  font-weight: var(--fw-bold);
}
.tp-5--medium {
  font-weight: var(--fw-medium);
}
@media (min-width: 48rem) {
  .tp-5 {
    font-size: var(--fs-4);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-4);
  }
}

.tp-6 {
  font-size: var(--fs-6);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-6);
  font-weight: var(--fw-bold);
}
.tp-6--medium {
  font-weight: var(--fw-medium);
}
@media (min-width: 48rem) {
  .tp-6 {
    font-size: var(--fs-5);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-5);
  }
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: 1.5;
  background-color: var(--clr-grey-5);
  color: var(--clr-neutral-1);
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  padding-block-end: var(--wrapper-padding, 8px);
  border-radius: var(--wrapper-br, var(--br-4));
}

.wrapper > *:first-child {
  border-radius: var(--wrapper-br, var(--br-4));
}

section {
  --padding: 7.5rem;
  padding-inline: var(--sp-4);
  padding-block-start: var(--padding);
}
@media (min-width: 48rem) {
  section {
    --padding: 11.25rem;
  }
}

main[data-state=game-active] section {
  --padding: var(--sp-5);
}
main[data-state=game-active] article.menu {
  display: none;
}
main[data-state=game-active] article.game {
  display: grid;
}

.shape-x {
  display: inline-block;
  transform: rotateZ(45deg);
}

.shape-x__bar {
  height: var(--bar-height, 10px);
  width: var(--bar-width, 32px);
  background-color: var(--clr-shape, var(--clr-grey-2));
  border-radius: 2px;
}
.shape-x__bar:first-child {
  transform: translateY(50%);
}
.shape-x__bar:nth-child(2) {
  transform: translateY(-50%) rotateZ(90deg);
}

.shape-o {
  width: var(--o-width, 32px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-shape, var(--clr-grey-2));
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-o__inner {
  width: var(--o-inner-width, 12px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-shape-inner, var(--clr-grey-5));
}

.btn {
  display: block;
  border: none;
  color: var(--clr-grey-5);
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
.btn > *:first-child {
  display: block;
  padding-block: var(--sp-3);
}

.btn--primary {
  background-color: rgba(242, 177, 55, 0.7);
}
.btn--primary > span {
  background-color: var(--clr-primary);
}
.btn--primary > span:hover {
  background-color: var(--clr-primary-tint);
}

.btn--accent {
  background-color: rgba(49, 195, 189, 0.7);
}
.btn--accent > span {
  background-color: var(--clr-accent);
}
.btn--accent > span:hover {
  background-color: var(--clr-accent-tint);
}

.btn--icon {
  --wrapper-padding: 4px;
  --wrapper-br: 6px;
  width: auto;
  background-color: rgba(168, 191, 201, 0.7);
}
.btn--icon > *:first-child {
  padding: var(--sp-2);
  padding-block-end: var(--sp-1);
  background-color: var(--clr-grey-2);
}
.btn--icon > *:first-child:hover {
  background-color: var(--clr-grey-1);
}
@media (min-width: 48rem) {
  .btn--icon > *:first-child {
    padding: var(--sp-3);
    padding-block-end: var(--sp-2);
  }
}
.btn--icon img {
  width: 15px;
  height: 15px;
}
@media (min-width: 48rem) {
  .btn--icon img {
    width: 20px;
    height: 20px;
  }
}

.toggle {
  background-color: var(--clr-grey-5);
  padding: var(--sp-1);
  border-radius: var(--br-3);
}

.toggle__option {
  cursor: pointer;
  background-color: var(--clr-fill, var(--clr-grey-5));
  padding: var(--sp-2);
  border-radius: var(--br-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__option:hover {
  --clr-fill: var(--clr-grey-4);
}

.toggle__option:has(input[type=radio]:checked) {
  --clr-fill: var(--clr-grey-2);
}

input[type=radio] {
  appearance: none;
  opacity: 0;
  position: absolute;
}

input[type=radio]:checked + div {
  --clr-shape: var(--clr-grey-5);
  --clr-shape-inner: var(--clr-grey-2);
}

.menu > * {
  --flow-spacer: var(--sp-6);
}
@media (min-width: 48rem) {
  .menu > * {
    --flow-spacer: var(--sp-7);
  }
}

.menu__logo {
  margin-inline: auto;
}

.menu__pick-player {
  --flow-spacer: var(--sp-5);
  background-color: var(--clr-grey-3);
  color: var(--clr-grey-2);
  text-align: center;
  text-transform: uppercase;
  padding: var(--sp-5);
}
@media (min-width: 48rem) {
  .menu__pick-player {
    padding: var(--sp-4);
  }
}

.menu__buttons {
  --flow-spacer: var(--sp-3);
}
@media (min-width: 48rem) {
  .menu__buttons {
    --flow-spacer: var(--sp-4);
  }
  .menu__buttons .tp-4 {
    font-size: var(--fs-3);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-3);
    font-weight: var(--fw-bold);
  }
}

.toggle {
  display: flex;
}

.game {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--sp-4);
  align-items: center;
}

.game > *:nth-child(3) {
  justify-self: end;
}

.game > *:nth-child(-n+3) {
  margin-block-end: var(--sp-7);
}
@media (min-width: 48rem) {
  .game > *:nth-child(-n+3) {
    margin-block-end: var(--sp-0);
  }
}

.cell {
  height: 100%;
  display: grid;
  place-content: center;
  background-color: var(--clr-grey-4);
  padding-block: var(--sp-5);
  padding-inline: var(--sp-6-little);
}

.wrapper:has(.cell) {
  min-width: 96px;
  min-height: 96px;
  aspect-ratio: 1;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-1);
  background-color: var(--clr-grey-4);
  color: var(--clr-grey-2);
  padding-block: var(--sp-2);
  padding-inline: var(--sp-3);
}
.turn .shape-x {
  --bar-height: 5px;
  --bar-width: 16px;
}
@media (min-width: 48rem) {
  .turn .shape-x {
    --bar-height: 6px;
    --bar-width: 23px;
  }
}
.turn .shape-o {
  --o-width: 16px;
  --o-inner-width: 8px;
}
@media (min-width: 48rem) {
  .turn .shape-o {
    --o-width: 20px;
    --o-inner-width: 10px;
  }
}
@media (min-width: 48rem) {
  .turn {
    padding-block: var(--sp-3);
    padding-inline: var(--sp-3);
  }
}

.wrapper:has(.turn) {
  --wrapper-br: 6px;
  --wrapper-padding: 4px;
}

.game__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--sp-2);
  padding-inline: var(--sp-4);
  background-color: var(--clr-grey-2);
  color: var(--clr-grey-5);
  border-radius: var(--br-3);
}

.game__info--p1 {
  background-color: var(--clr-accent);
}

.game__info--ties {
  background-color: var(--clr-grey-2);
}

.game__info--p2 {
  background-color: var(--clr-primary);
}

/*# sourceMappingURL=styles.css.map */
