@use "./partials/variables";
@use "./partials/reset";
@use "./partials/typography";
@use "./partials/base";
@use "./partials/shapes";
@use "./partials/buttons";
@use "./partials/toggle";
@use "./partials/modal";
@use "./partials/menu";
@use "./partials/game";
