@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: 1.5;

  background-color: var(--clr-grey-5);
  color: var(--clr-neutral-1);
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  padding-block-end: var(--wrapper-padding, 8px);
  border-radius: var(--wrapper-br, var(--br-4));
}

.wrapper > *:first-child {
  // background-color: var(--clr-grey-3);
  border-radius: var(--wrapper-br, var(--br-4));
}

section {
  --padding: #{toRem(120px)};

  @media (min-width: $bp-tablet) {
    --padding: #{toRem(180px)};
  }

  padding-inline: var(--sp-4);
  padding-block-start: var(--padding);
}

main[data-state="game-active"] {
  section {
    --padding: var(--sp-5);
  }

  article.menu {
    display: none;
  }

  article.game {
    display: grid;
  }
}
