@use "utils" as *;
@use "variables" as *;

button {
}

.btn {
  display: block;
  border: none;
  color: var(--clr-grey-5);
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;

  & > *:first-child {
    display: block;
    padding-block: var(--sp-3);
  }
}

.btn--primary {
  background-color: rgba(242, 177, 55, 0.7);

  & > span {
    background-color: var(--clr-primary);

    &:hover {
      background-color: var(--clr-primary-tint);
    }
  }
}

.btn--accent {
  background-color: rgb(49, 195, 189, 0.7);

  & > span {
    background-color: var(--clr-accent);
    &:hover {
      background-color: var(--clr-accent-tint);
    }
  }
}

.btn--icon {
  --wrapper-padding: 4px;
  --wrapper-br: 6px;

  width: auto;
  background-color: rgba(168, 191, 201, 0.7);

  & > *:first-child {
    padding: var(--sp-2);
    padding-block-end: var(--sp-1);

    background-color: var(--clr-grey-2);
    &:hover {
      background-color: var(--clr-grey-1);
    }

    @media (min-width: $bp-tablet) {
      padding: var(--sp-3);
      padding-block-end: var(--sp-2);
    }
  }

  img {
    width: 15px;
    height: 15px;

    @media (min-width: $bp-tablet) {
      width: 20px;
      height: 20px;
    }
  }
}
