@use "utils" as *;
@use "variables" as *;

.game {
  display: none;

  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--sp-4);
  align-items: center;
}

.game > *:nth-child(3) {
  justify-self: end;
}

.game > *:nth-child(-n + 3) {
  margin-block-end: var(--sp-7);

  @media (min-width: $bp-tablet) {
    margin-block-end: var(--sp-0);
  }
}

.cell {
  height: 100%;
  display: grid;
  place-content: center;

  background-color: var(--clr-grey-4);
  padding-block: var(--sp-5);
  padding-inline: var(--sp-6-little);
}

.wrapper:has(.cell) {
  min-width: 96px;
  min-height: 96px;

  aspect-ratio: 1;
}

// .cell {
//   display: grid;
//   place-content: center;

//   padding-block: var(--sp-5);
//   padding-inline: var(--sp-6-little);

//   @media (min-width: $bp-tablet) {
//     padding-inline: 38px;
//     padding-block-start: 36px;
//     padding-block-end: 32px;
//   }
// }

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-1);

  background-color: var(--clr-grey-4);
  color: var(--clr-grey-2);

  padding-block: var(--sp-2);
  padding-inline: var(--sp-3);

  .shape-x {
    --bar-height: 5px;
    --bar-width: 16px;

    @media (min-width: $bp-tablet) {
      --bar-height: 6px;
      --bar-width: 23px;
    }
  }

  .shape-o {
    --o-width: 16px;
    --o-inner-width: 8px;
    @media (min-width: $bp-tablet) {
      --o-width: 20px;
      --o-inner-width: 10px;
    }
  }

  @media (min-width: $bp-tablet) {
    padding-block: var(--sp-3);
    padding-inline: var(--sp-3);
  }
}

.wrapper:has(.turn) {
  --wrapper-br: 6px;
  --wrapper-padding: 4px;
}

.game__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: var(--sp-2);
  padding-inline: var(--sp-4);
  background-color: var(--clr-grey-2);
  color: var(--clr-grey-5);
  border-radius: var(--br-3);
}

.game__info--p1 {
  background-color: var(--clr-accent);
}

.game__info--ties {
  background-color: var(--clr-grey-2);
}

.game__info--p2 {
  background-color: var(--clr-primary);
}
