@use "utils" as *;
@use "variables" as *;

.game {
  display: none;

  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--sp-4);
  align-items: center;
}

.cell {
  height: 100%;
  display: grid;
  place-content: center;

  background-color: var(--clr-grey-4);
  padding-block: var(--sp-5);
  padding-inline: var(--sp-6-little);
}

.wrapper:has(.cell) {
  min-width: 96px;
  min-height: 96px;

  aspect-ratio: 1;
}
// .cell {
//   padding-block: var(--sp-5);
//   padding-inline: var(--sp-6-little);

//   @media (min-width: $bp-tablet) {
//     padding-inline: 38px;
//     padding-block-start: 36px;
//     padding-block-end: 32px;
//   }

//   display: grid;
//   place-content: center;
// }

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-1);

  background-color: var(--clr-grey-4);
  color: var(--clr-grey-2);

  padding-block: var(--sp-2);
  padding-inline: var(--sp-3);

  .shape-x {
    --bar-height: 5px;
    --bar-width: 16px;
  }
}

.wrapper:has(.turn) {
  --wrapper-br: 6px;
  --wrapper-padding: 4px;
}
