@use "utils" as *;
@use "variables" as *;

.menu > * {
  --flow-spacer: var(--sp-6);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-7);
  }
}

.menu__logo {
  margin-inline: auto;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  // background-color: rgba(242, 177, 55, 0.7);
  padding-block-end: 10px;
  border-radius: var(--br-4);
}

.menu__pick-player {
  --flow-spacer: var(--sp-5);

  padding: var(--sp-5);
  border-radius: var(--br-4);

  background-color: var(--clr-grey-3);
  // background-color: var(--clr-primary);

  color: var(--clr-grey-2);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $bp-tablet) {
    padding: var(--sp-4);
  }
}

.menu__pick-player__toggle {
  background-color: var(--clr-grey-5);
  padding: var(--sp-1);
  border-radius: var(--br-3);
}

.menu__buttons {
  --flow-spacer: var(--sp-3);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-4);

    .tp-4 {
      font-size: var(--fs-3);
      line-height: var(--lh-1);
      letter-spacing: var(--ls-3);
      font-weight: var(--fw-bold);
    }
  }
}

.toggle {
  display: flex;
}
