@use "utils" as *;
@use "variables" as *;

.menu > * {
  --flow-spacer: var(--sp-6);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-7);
  }
}

.menu__logo {
  margin-inline: auto;
}

.menu__pick-player {
  --flow-spacer: var(--sp-5);

  background-color: var(--clr-grey-3);
  color: var(--clr-grey-2);
  text-align: center;
  text-transform: uppercase;

  padding: var(--sp-5);
  @media (min-width: $bp-tablet) {
    padding: var(--sp-4);
  }
}

.menu__buttons {
  --flow-spacer: var(--sp-3);

  @media (min-width: $bp-tablet) {
    --flow-spacer: var(--sp-4);

    .tp-4 {
      font-size: var(--fs-3);
      line-height: var(--lh-1);
      letter-spacing: var(--ls-3);
      font-weight: var(--fw-bold);
    }
  }
}

.toggle {
  display: flex;
}
