@use "utils" as *;
@use "variables" as *;

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: var(--z-overlay);
}

section {
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-block: toRem(44px);

  background-color: var(--clr-grey-3);
  text-align: center;

  z-index: var(--z-modal);
}

.modal--on {
  .overlay {
    display: block;
  }
}

.modal--on.modal--winner {
  .modal--wins-x {
    display: block;
  }

  .modal--wins-o {
    display: block;
  }
}

.modal--on.modal--equal {
  .modal--tied {
    display: block;
  }
}

.modal--on.modal--restart {
  .modal.modal--restart {
    display: block;
  }
}

.modal__title {
  color: var(--clr-grey-2);
}

.modal__content {
  display: flex;
  justify-content: center;
  gap: var(--sp-5);

  align-items: center;
  color: var(--clr-winner, var(--clr-accent));
}

.modal__content__img {
  width: toRem(26px);
  aspect-ratio: 1;

  @media (min-width: $bp-tablet) {
    width: toRem(64px);
  }
}

.modal__footer {
  --flow-spacer: var(--sp-5);

  display: flex;
  justify-content: center;
  gap: var(--sp-3);
}

.modal--two-rows {
  &.modal {
    padding-block: toRem(60px);
  }
  .modal__content {
    color: var(--clr-grey-2);
  }
  .modal__footer {
    --flow-spacer: var(--sp-6);
  }
}

.modal--wins-x .modal__content {
  --clr-winner: var(--clr-accent);
}

.modal--wins-o .modal__content {
  --clr-winner: var(--clr-primary);
}
