@use "utils" as *;
@use "variables" as *;

.toggle {
  background-color: var(--clr-grey-5);
  padding: var(--sp-1);
  border-radius: var(--br-3);
}

.toggle__option {
  cursor: pointer;
  background-color: var(--clr-fill, var(--clr-grey-5));
  padding: var(--sp-2);
  border-radius: var(--br-3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__option:hover {
  --clr-fill: var(--clr-grey-4);
}

.toggle__option:has(input[type="radio"]:checked) {
  --clr-fill: var(--clr-grey-2);
}

input[type="radio"] {
  appearance: none;
  opacity: 0;
  position: absolute;
}

input[type="radio"]:checked + div {
  --clr-shape: var(--clr-grey-5);
  --clr-shape-inner: var(--clr-grey-2);
}
