@use "utils" as *;
@use "variables" as *;

.toggle__option {
  cursor: pointer;
  background-color: var(--clr-fill, var(--clr-grey-5));
  padding: var(--sp-2);
  border-radius: var(--br-3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__option:hover {
  --clr-fill: var(--clr-grey-4);
}

.toggle__option:has(input[type="radio"]:checked) {
  --clr-fill: var(--clr-grey-2);
}

input[type="radio"] {
  appearance: none;
  opacity: 0;
  position: absolute;
}

.shape-x {
  --clr-shape: var(--clr-grey-2);
  transform: rotateZ(45deg);
}

input[type="radio"]:checked + div {
  --clr-shape: var(--clr-grey-5);
  --clr-shape-inner: var(--clr-grey-2);
}

.shape-x__bar {
  height: 10px;
  width: 32px;
  background-color: var(--clr-shape, var(--clr-grey-2));
  border-radius: 2px;

  &:first-child {
    transform: translateY(50%);
  }
  &:nth-child(2) {
    transform: translateY(-50%) rotateZ(90deg);
  }
}

.shape-o {
  width: 32px;
  aspect-ratio: 1;

  border-radius: 50%;
  background-color: var(--clr-shape, var(--clr-grey-2));

  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-o__inner {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-shape-inner, var(--clr-grey-5));
}
